{% extends 'base.html.twig' %}

{% block title %}Symrecipie . acceil
    
{% endblock %}


{% block body  %}

    <div class="container mt-4">
        <div class="jumbotron">
            <h1 class="display-4">bienvenue sur notre vente de voitures</h1>
            <p class="lead">.</p>
            <hr class="my-4">
            <p></p>
            <p class="lead">
                <a class="btn btn-danger btn-lg" href="#" role="button">visited</a>
            </p>
        </div>
    </div>
    
{% endblock %}